Problem Statement: 1
You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions.
Tasks to be performed:
1. Input the values of a and b as 10 and 20 respectively. Now check if a is greater or b is greater
using if condition. Think about all the edge cases, and print the statements accordingly.

Problem Statement: 2 You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions. Tasks to be performed:

Take three user inputs and print the greatest number from those inputs using if-else condition. Edge cases if any, should also be handled.

Problem Statement: 3 You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions. Tasks to be performed:

Print the numbers from 1 to 10 using while loop.

Problem Statement: 4 You work in XYZ Corporation as a Data Analyst. Your company has told you to work with the IfElse Conditions. Tasks to be performed: Create a list that is having 10,23,4,26,4,75,24,54 values and with the help of while loop, fetch the even numbers and print the numbers.

Problem Statement: 5
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.
Tasks to be performed:
1. Create a list containing squares of numbers from 1 to 10 (HINT: use List Comprehension).
2. Write a Function to check if year number is a leap year.
3. Write a Function to take an array and return another array that contains the members of first
array that are even.
4. Write a Function that takes 2 arrays and prints the members of first array that are present of
second array. (HINT: use Membership Comprehension)

In [2]:
Problem Statement: 6
Consider yourself to be Sam who is a data scientist. He has been invited as a guest lecturer at a college
to take an introductory session on Python.
Tasks to be performed:
1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1,2,3
b. Second element is a tuple with values “a”,”b”,”c”
c. Third element is a tuple with values True,False
3. Append a new tuple – (1,’a’,True) to ‘my_list’
a. Append a new list – *“sparta”,123+ to my_list
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)
b. The second key is ‘Cost’ and the values are (85,54,120,70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

SyntaxError: invalid syntax (Temp/ipykernel_6132/531814179.py, line 1)

In [3]:
#1. Create 1st tuple with values -> (10,20,30), 2nd tuple with values -> (40,50,60).

In [4]:
#a. Concatenate the two tuples and store it in “t_combine”

In [5]:
#b. Repeat the elements of “t_combine” 3 times

In [6]:
#c. Access the 3rd element from “t_combine”

In [7]:
#d. Access the first three elements from “t_combine”

In [8]:
#e. Access the last three elements from “t_combine”

In [9]:
#2. Create a list ‘my_list’ with these elements:

In [10]:
#a. First element is a tuple with values 1,2,3

In [11]:
#b. Second element is a tuple with values “a”,”b”,”c”

In [12]:
#c. Third element is a tuple with values True,False

In [13]:
#3. Append a new tuple – (1,’a’,True) to ‘my_list’

In [14]:
#a. Append a new list – *“sparta”,123+ to my_list

In [15]:
#4. Create a dictionary ‘fruit’ where:

In [16]:
#a. The first key is ‘Fruit’ and the values are (“Apple”,”Banana”,”Mango”,”Guava”)

In [17]:
#b. The second key is ‘Cost’ and the values are (85,54,120,70)

In [18]:
#c. Extract all the keys from ‘fruit’

In [19]:
#d. Extract all the values from ‘fruit’

In [20]:
#5. Crete a set named ‘my_set’ with values (1,1,”a”,”a”,True,True) and print the result

Problem Statement: 7

L is a list defined as L= [11, 12, 13, 14].
(i)	    WAP to add 50 and 60 to L. 
(ii)	WAP to remove 11 and 13from L.
(iii)	WAP to sort L in ascending order.
(iv)	WAP to sort L in descending order.
(v)	    WAP to search for 13 in L.
(vi)	WAP to count the number of elements present in L.
(vii)	WAP to sum all the elements in L.
(viii)	WAP to sum all ODD numbers in L.
(ix)	WAP to sum all EVEN numbers in L.
(x)	    WAP to sum all PRIME numbers in L.
(xi)	WAP to clear all the elements in L.
(xii)	WAP to delete L.

In [21]:
#(i)	    WAP to add 50 and 60 to L.

In [22]:
#(ii)	WAP to remove 11 and 13from L.

In [23]:
#(iii)	WAP to sort L in ascending order.

In [24]:
#(iv)	WAP to sort L in descending order.

In [25]:
#(v)	    WAP to search for 13 in L.

In [26]:
#(vi)	WAP to count the number of elements present in L.

In [27]:
#(vii)	WAP to sum all the elements in L.

In [28]:
#(viii)	WAP to sum all ODD numbers in L.

In [29]:
#(ix)	WAP to sum all EVEN numbers in L.

In [30]:
#(x)	    WAP to sum all PRIME numbers in L.

In [31]:
#(xi)	WAP to clear all the elements in L.

In [32]:
#(xii)	WAP to delete L.

Problem Statement: 8

D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
(i)	WAP to add new entry in D; key=8 and value is 8.8
(ii)	WAP to remove key=2.
(iii)	WAP to check weather 6 key is present in D.
(iv)	WAP to count the number of elements present in D.
(v)	WAP to add all the values present D.
(vi)	WAP to update the value of 3 to 7.1.
(vii)	WAP to clear the dictionary.

In [33]:
#(i)	WAP to add new entry in D; key=8 and value is 8.8

In [34]:
#(ii)	WAP to remove key=2.

In [35]:
#(iii)	WAP to check weather 6 key is present in D.

In [36]:
#(iv)	WAP to count the number of elements present in D.

In [37]:
#(v)	WAP to add all the values present D.

In [38]:
#(vi)	WAP to update the value of 3 to 7.1.

In [41]:
# (vii)	WAP to clear the dictionary.

Problem Statement: 9

S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
    S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
(i)	    WAP to add 55 and 66 in Set S1.
(ii)	WAP to remove 10 and 30 from Set S1.
(iii)	WAP to check whether 40 is present in S1.
(iv)	WAP to find the union between S1 and S2.
(v)	    WAP to find the intersection between S1 and S2.
(vi)	WAP to find the S1 - S2.

In [42]:
#    S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
#    S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].

In [43]:
# (i)	    WAP to add 55 and 66 in Set S1.

In [44]:
# (ii)	WAP to remove 10 and 30 from Set S1.

In [45]:
# (iii)	WAP to check whether 40 is present in S1.

In [46]:
# (iv)	WAP to find the union between S1 and S2.

In [47]:
# (v)	    WAP to find the intersection between S1 and S2.

In [48]:
# (vi)	WAP to find the S1 - S2.

Problem Statement: 10

Write the following program.
(i)	    WAP to print 100 random strings whose length between 6 and 8.
(ii)	WAP to print all prime numbers between 600 and 800.
(iii)	WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

In [49]:
# (i)	    WAP to print 100 random strings whose length between 6 and 8.

In [50]:
# (ii)	WAP to print all prime numbers between 600 and 800.

In [51]:
# (iii)	WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.

Problem Statement: 11

WAP to create two lists of 10 random numbers between 10 and 30; Find 
(i)	    Common numbers in the two lists
(ii)	Unique numbers in both the list
(iii)	Minimum in both the list
(iv)	Maximum in both the list
(v)	    Sum of both the lists

In [52]:
# (i)	    Common numbers in the two lists

In [53]:
# (ii)	Unique numbers in both the list

In [54]:
# (iii)	Minimum in both the list

In [55]:
# (iv)	Maximum in both the list

In [56]:
# (v)	    Sum of both the lists

Problem Statement: 12

WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
(i)	All odd numbers
(ii)	All even numbers
(iii)	All prime numbers

In [57]:
# WAP to create a list of 100 random numbers between 100 and 900.

In [58]:
# Count and print the (i)	All odd numbers

In [59]:
# Count and print the (ii)	All even numbers

In [60]:
# Count and print the (iii)	All prime numbers

Problem Statement: 13

D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
WAP to read all the keys and values from dictionary and write to the file in the given below format.
	
    Key1, Value1
	Key2, Value2
	Key3, Value3

Problem Statement: 14

L is a list defined as L={"One","Two","Three","Four","Five"}.
WAP to count the length of reach element from a list and write to the file in the given below format:
	One, 3
	Two, 3
	Four, 4

Problem Statement: 15

Write to the file 100 random strings whose length between 10 and 15.

Problem Statement: 16

Write to the file all prime numbers between 600 and 800.

Problem Statement: 17

WAP to calculate the time taken by a program.

Problem Statement: 18

WAP to sort following number of elements in a list, calculate time taken and plot the graph.   

Number of elements in list	    Time Taken
            50k                     T1
            100k	                T2
            150k	                T3
            200k	                T4
            250k	                T5

Problem Statement: 19

WAP to create a dictionary of student marks in five subjects and you have to find the student 
         having maximum and minimum average marks.